<mat-card class="example-card" *ngIf="establishment$ | async as establishment">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ establishment.BusinessName }}</mat-card-title>
    <mat-card-subtitle>{{ establishment.BusinessType }}</mat-card-subtitle>
  </mat-card-header>
  <img
    *ngIf="false"
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <div
      style="
        /* margin-bottom: 25px; */
        padding-right: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      "
    >
      <!-- Rating Value: {{ formatRatingValueLocal(establishment.RatingName) }} -->
      <mat-chip-list
        aria-label="Rating Value"
        *ngIf="isNumeric(establishment.RatingValue)"
        [selectable]="false"
      >
        <mat-chip
          [disabled]="establishment.RatingName !== '0'"
          [selected]="establishment.RatingName === '0'"
          >0</mat-chip
        >
        <mat-chip
          [disabled]="establishment.RatingName !== '1'"
          [selected]="establishment.RatingName === '1'"
          >1</mat-chip
        >
        <mat-chip
          [disabled]="establishment.RatingName !== '2'"
          [selected]="establishment.RatingName === '2'"
          >2</mat-chip
        >
        <mat-chip
          [disabled]="establishment.RatingName !== '3'"
          [selected]="establishment.RatingName === '3'"
          >3</mat-chip
        >
        <mat-chip
          [disabled]="establishment.RatingName !== '4'"
          [selected]="establishment.RatingName === '4'"
          >4</mat-chip
        >
        <mat-chip
          [disabled]="establishment.RatingName !== '5'"
          [selected]="establishment.RatingName === '5'"
          >5</mat-chip
        >

        <!-- <mat-chip color="primary" selected>Primary fish</mat-chip>
        <mat-chip color="accent" selected>Accent fish</mat-chip> -->
      </mat-chip-list>
      <div *ngIf="!isNumeric(establishment.RatingValue)">
        Rating Value: {{ formatRatingValueLocal(establishment.RatingValue) }}
      </div>
      <span *ngIf="isNumeric(establishment.RatingValue)">
        {{ " " }} {{ establishment.RatingDate | date }}
      </span>
    </div>

    <ul *ngIf="false">
      <li *ngIf="establishment.scores.Hygiene !== null">
        Hygiene: {{ establishment.scores.Hygiene }} [{{
          getScoreDescriptor("Hygiene", establishment.scores.Hygiene)
        }}]
      </li>
      <li *ngIf="establishment.scores.Structural !== null">
        Structural: {{ establishment.scores.Structural }} [{{
          getScoreDescriptor("Structural", establishment.scores.Structural)
        }}]
      </li>
      <li *ngIf="establishment.scores.ConfidenceInManagement !== null">
        Confidence In Management:
        {{ establishment.scores.ConfidenceInManagement }} [{{
          getScoreDescriptor(
            "Confidence",
            establishment.scores.ConfidenceInManagement
          )
        }}]
      </li>
    </ul>

    <table
      *ngIf="isNumeric(establishment.RatingValue)"
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      style="width: 96%"
    >
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.category }}</td>
      </ng-container>

      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let element">{{ element.score }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <table style="width: 100%" *ngIf="false">
      <thead>
        <tr>
          <th style="text-align: left">Category</th>
          <th style="text-align: left">Score</th>
          <th style="text-align: left">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hygiene</td>
          <td>{{ establishment.scores.Hygiene }}</td>
          <td>
            {{ getScoreDescriptor("Hygiene", establishment.scores.Hygiene) }}
          </td>
        </tr>
        <tr>
          <td>Structural</td>
          <td>{{ establishment.scores.Structural }}</td>
          <td>
            {{
              getScoreDescriptor("Structural", establishment.scores.Structural)
            }}
          </td>
        </tr>
        <tr>
          <td>Confidence In Management</td>
          <td>{{ establishment.scores.ConfidenceInManagement }}</td>
          <td>
            {{
              getScoreDescriptor(
                "Confidence",
                establishment.scores.ConfidenceInManagement
              )
            }}
          </td>
        </tr>
      </tbody>
    </table>

    <div
      style="
        /* margin-bottom: 25px; */
        padding-right: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      "
    >
      <div>
        <!-- <p><b>Address</b></p> -->
        <p>{{ getAddressSingleLine(establishment) }}</p>
        <!--
      <p>{{ establishment.AddressLine1 }}</p>
      <p>{{ establishment.AddressLine2 }}</p>
      <p>{{ establishment.AddressLine3 }}</p>
      <p>{{ establishment.AddressLine4 }}</p>
      <p>{{ establishment.PostCode }}</p>
      -->
        <p>Phone: {{ establishment.Phone || "N/A" }}</p>
      </div>
      <a
        mat-flat-button
        color="primary"
        [href]="getMapUrl(establishment)"
        target="_blank"
        >Map</a
      >
    </div>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
<pre *ngIf="false">
  {{ establishment$ | async | json }}
</pre>
